* {
	box-sizing: border-box; /* universal selector */
	margin: 0;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
	/* background-color: #fff; */
	color: #4c6986;
}

header,
footer {
	height: 10vh;
}

.title {
	max-width: 500px;
}

.logo {
	display: flex;
	position: relative;
	height: 90px;
	width: 90px;
	padding-top: 15px;
	padding-right: 90%;
}
.logo img {
	height: 100%;
}
.toggle {
	display: flex;
	align-items: center;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #190863;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 50px;
	position: relative;
	width: 50px;
	height: 26px;
	padding: 5px;
}

.ball {
	background-color: #fff;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	border-radius: 50px;
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #fff;
}

.fa-sun {
	color: #f39c12;
}

.wrapper {
	max-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 40px;
}

h1 {
	font-size: calc(2em + 3vw);
	font-weight: bold;
}

.restart {
	width: 175px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	border: 2px solid #4c6986;
	transition: all 0.2s ease;
	cursor: pointer;
	font-weight: bold;
	margin-top: 30px;
}

.restart:hover {
	background-color: #4c6986;
	color: white;
}

.game {
	width: 370px;
	height: 370px;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	color: #9a9a9a;
	font-size: 24px;
	align-items: center;
}

.header .player-x {
	flex: 1;
	border-bottom: 5px solid #eee;
	padding-bottom: 8px;
}

.player-x.active {
	color: #42bed7;
	border-color: #42bed7;
}

.header .player-o {
	flex: 1;
	border-bottom: 5px solid #eee;
	padding-bottom: 8px;
}

.player-o.active {
	color: #a46ce9;
	border-color: #a46ce9;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 0px;
	flex-grow: 1;
	padding: 10px;
}

.board-tile {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	background-color: white;
	cursor: pointer;
}

.board-tile:not(:nth-child(3n)) {
	border-right: 3px solid #4c6986;
}

.board-tile:not(:nth-last-child(-n + 3)) {
	border-bottom: 3px solid #4c6986;
}
body.dark .board-tile:not(:nth-child(3n)) {
	border-right: 3px solid #fff;
}

body.dark .board-tile:not(:nth-last-child(-n + 3)) {
	border-bottom: 3px solid #fff;
}

.board-tile:hover {
	background: #eee;
}

.tile-x {
	color: #42bed7;
}
.tile-o {
	color: #a46ce9;
}
.tile-winner span {
	color: greenyellow;
}
body.dark {
	background-color: #081420;
	color: #fff;
}

body.dark .board-tile {
	background-color: #081420;
	color: #fff;
}
footer {
	font-size: 13px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 870px) {
	.wrapper {
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
	}

	.left {
		margin-bottom: 50px;
	}
}
